{% extends 'base.html' %}

{% block sidebar %}
    
{% endblock %}

{% block container %}
<div class="detail-graph">
    <canvas id="myChart" width="500"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });
</script>
{% endblock %}

{% block navigator %}
    <div class="detail-title">
        <h2><strong>{{ post_detail.title }}</strong></h2>
        <time>{{ post_detail.date_added|date:"d M, y h:i" }}</time>
        <a href="{% url 'category_url' post_detail.category.slug %}">{{ post_detail.category.title }}</a>
        <p><strong>{{ post_detail.title }}</strong></p>
        <p>{{ post_detail.body }}</p>
    </div>
    <div class="detail-comment">
        <h2>Comments</h2>
        {% if not post_detail.comment_model.all %}
        <p>No comments yet!</p>
        {% endif %}

        {% for comment in post_detail.comment_model.all %}
        <article>
            <strong>{{comment.commenter_name}} - {{comment.date_added}}</strong><br/>
            {{comment.comment_body}}
        </article>
        {% endfor %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'detail_url' post_detail.slug post_detail.id %}">
            {% csrf_token %}
            {{ form_detail.as_table }}
            <input type="submit" value="Add comment">
        </form>
        </article>
        {% endif %}
    </div>
{% endblock %}