{% extends 'base.html' %}


{% block sidebar %}
    <div class="detail-side">
        <a href="{% url 'home_url' %}">
            <div class="detail-url">Home</div>
        </a>
        <a href="{% url 'category_url' 'bom-comparison' %}">
            <div class="detail-url">BOM Comparison</div>
        </a>
        <a href="{% url 'category_url' 'cost-review' %}">
            <div class="detail-url">Cost Review</div>
        </a>
        <a href="{% url 'category_url' 'vi-activity' %}">
            <div class="detail-url">VI Activity</div>
        </a>
    </div>
{% endblock %}

{% block container %}
{% load static %}
<script src="{% static 'js/graph.js' %}"></script> 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="detail-graph">
    <canvas id="myChart" width="500"></canvas>
</div>
{% endblock %}

{% block navigator %}
    <div class="detail-title">
        <h2><strong>{{ post_detail.title }}</strong></h2>
        <time>{{ post_detail.date_added|date:"d M, y h:i" }}</time>
        <br/><a href="{% url 'category_url' post_detail.category.slug %}">Review All {{ post_detail.category.title }}</a>
    </div>
    <div class="detail-comment">
        <h2>Comments</h2>
        {% if not post_detail.comment_model.all %}
        <p>No comments yet!</p>
        {% endif %}

        {% for comment in post_detail.comment_model.all %}
        <article>
            <strong>{{comment.commenter_name}} - {{comment.date_added}}</strong><br/>
            {{comment.comment_body}}
        </article>
        {% endfor %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'detail_url' post_detail.slug post_detail.id %}">
            {% csrf_token %}
            {{ form_detail.as_table }}
            <input type="submit" value="Add comment">
        </form>
        </article>
        {% endif %}
    </div>
{% endblock %}